.VPContent,
.VPContent .VPContentPage,
.VPContent .VPContentPage main,
.VPContent .VPContentPage main>div,
.VPContent .VPContentPage main>div>div {
  @apply flex-1 flex flex-col;
}

.dark .im-home {
  --im-gradient-p1: #8356dc;
  --im-gradient-p3: #5908a6;
  --im-gradient-p2: #044f1e;
  --im-gradient-p4: #49bcb7;
}

.im-home {
  --im-gradient-p1: #ecd8ff;
  --im-gradient-p2: #e8fca7;
  --im-gradient-p3: #dafbe1;
  --im-gradient-p4: #ffd8b5;
  background: linear-gradient(-40deg, var(--im-gradient-p1), var(--im-gradient-p2), var(--im-gradient-p3), var(--im-gradient-p4));
  background-size: 120% 120%;
}

.im-home .top {
  --vp-nav-bg-color: transparent;
  --vp-c-bg: transparent;
  --vp-c-gutter: transparent;
  --vp-c-bg-alt: transparent;
  --vp-c-divider: transparent;
}

.im-home .VPContent {
  justify-content: center;
}

.im-home .bash-composer:before {
  content: "$";
  letter-spacing: .35rem;
  opacity: 1;
  animation: im-blink 1s ease infinite;
}

@keyframes im-blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 8;
  }
}

.im-home .border-t {
  border-top-color: transparent;
}

.dark .im-home .dark\:border-black {
  --tw-border-opacity: 0;
}

.DocSearch-Container {
  backdrop-filter: blur(10px);
}

.VPContent.has-sidebar .edit-info:not(:has(>.last-updated)) {
  justify-content: flex-end;
  text-align: right;
}

.vp-code-group .tabs::-webkit-scrollbar,
.vp-code-group .tabs::-webkit-scrollbar-track,
.vp-doc [class*="language-"] pre::-webkit-scrollbar,
.vp-doc [class*="language-"] pre::-webkit-scrollbar-track,
.VPSidebar::-webkit-scrollbar,
.VPSidebar::-webkit-scrollbar-track {
  background-color: initial
}

.vp-code-group .tabs::-webkit-scrollbar-thumb:active,
.vp-code-group .tabs::-webkit-scrollbar-thumb:hover,
.vp-doc [class*="language-"] pre::-webkit-scrollbar-thumb:active,
.vp-doc [class*="language-"] pre::-webkit-scrollbar-thumb:hover,
.VPSidebar::-webkit-scrollbar-thumb:active,
.VPSidebar::-webkit-scrollbar-thumb:hover {
  background-color: var(--vp-c-text-1) !important
}

.vp-code-group .tabs:active::-webkit-scrollbar-thumb,
.vp-code-group .tabs:focus-within::-webkit-scrollbar-thumb,
.vp-code-group .tabs:focus::-webkit-scrollbar-thumb,
.vp-code-group .tabs:hover::-webkit-scrollbar-thumb,
.vp-code-group .tabs:active::-webkit-scrollbar-thumb,
.vp-doc [class*="language-"] pre:focus-within::-webkit-scrollbar-thumb,
.vp-doc [class*="language-"] pre:focus::-webkit-scrollbar-thumb,
.vp-doc [class*="language-"] pre:hover::-webkit-scrollbar-thumb,
.VPSidebar:active::-webkit-scrollbar-thumb,
.VPSidebar:focus-within::-webkit-scrollbar-thumb,
.VPSidebar:focus::-webkit-scrollbar-thumb,
.VPSidebar:hover::-webkit-scrollbar-thumb {
  background-clip: content-box;
  background-color: var(--vp-c-text-3);
  border: 4px solid #0000;
  border-radius: 10px
}

.custom-block:not(.im-badges)[class^="im-"] {
  display: flex;
  align-items: center;
}

.custom-block:not(.im-badges)[class^="im-"] .custom-block-title {
  font-size: calc(var(--vp-custom-block-font-size, 14px) * 1.3);
  letter-spacing: .25em;
}

.custom-block.info.im-badges {
  background-color: inherit;
  margin: 0;
  padding: 0;
}

.custom-block.info.im-badges .custom-block-title {
  display: none;
}

.custom-block.info.im-badges p:not(.custom-block-title) {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.custom-block.info.im-badges p:not(.custom-block-title) img {
  margin: 0 .25em .25em 0;
}
