parameters:
    level: 9
    paths:
        - src
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#^Property\s+class@anonymous/Kernel/Traits/MockableHttpClient\.php.*$#is'