parameters:
    level: 8
    paths:
        - src
    inferPrivatePropertyTypeFromConstructor: true
    ignoreErrors:
        - message: '#class@anonymous\/Kernel\/Traits\/MockableHttpClient#'
          path: src/
