@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./particles";

ol,
ul {
  list-style: initial;
  padding-left: 1.5em;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

pre>code {
  font-size: 0.85rem;
  -webkit-font-smoothing: antialiased;
}

.site-name {
  display: none;
}

/******************************/
/**   docs                    */
/******************************/
h1 {
  font-size: 2em;
  line-height: 2.2;
  font-weight: 500;
}

h2 {
  font-size: 1.5em;
  line-height: 2;
  font-weight: 500;
}

h3 {
  font-size: 1.2em;
  line-height: 1.5;
  font-weight: 500;
}

h4 {
  font-size: 1em;
  line-height: 1.2;
  font-weight: 500;
}